<!DOCTYPE html>
<html>
<head>
	<title>Hello Dashboard</title>
	<link rel="stylesheet" type="text/css" href="../styles.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
	<body>
		<h1>Hello Dashboard</h1>
		
		<label name="movies">Movies</label>
			<form id="search-field" onsubmit="return movieSearch()">
				<input id="search" type="search">
				<button>SEARCH</button>
			</form><br>

		<div class="movie-container">
			
		</div>

		<table>
			<tr class="theaders">
				<th class="col-title">Movie</th>
				<th class="col-title">Release Date</th>
				<th class="col-title">Earnings</th>
				<th class="col-title">Rating</th>
				<th class="col-title">Link</th>
				<th class="col-title">Order</th>
				<th class="col-title delete-item">Delete</th>	
			</tr>
			<tr>
				<% for(let i = 0; i < movies.length; i++){ %>
				<td><%= movies[i].item %></td>
			<% } %>
			</tr>
		</table>
	<script type="text/javascript" src="../js/search.js"></script>
	</body>
</html>