<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<link href="https://fonts.googleapis.com/css?family=Kanit:700i|Titillium+Web:300" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>
<body>
	<header>
		<div class="intro">
			<h1>Movie Prioritizer</h1>
			<p>So many movies, so little time.</p>
			<div class="purpose-flex">
				<div>
					<p>Find Them</p>
					<span class="icon"><i class="fas fa-search"></i></span>
				</div>

				<div>
					<p>Add Them</p>
					<span class="icon"><i class="fas fa-plus"></i></span>
				</div>

				<div>
					<p>Rank Them</p>
					<span class="icon"><i class="fas fa-list-ol"></i></span>
				</div>
			</div>
			<p class="login"><a href="/auth/login">Sign Up or Login</a></p>
		</div>
	</header>
	<main>
	</main>
</body>
</html>