<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<nav>
		<ul>
			<li>
				<a href="/">Home</a>
			</li>
		</ul>
	</nav>
	<header>
		<h1>Movie Prioritizer</h1>
		<h2>Home</h2>
	</header>
	<main>
		<p>So many movies, so little time.</p>
		<p>Find them, Add them, Rank them</p>
	</main>
</body>
</html>