<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<nav>	
		<ul>
			<li><a href="/auth/logout">Logout</a></li>
			<li><a href="/auth/login">Login</a></li>
			<li><a href="/">Home</a></li>
		</ul>
	</nav>
	<header>	
		<h1>Log in to start saving movies</h1>
	</header>
	<main>	
		<a href="/auth/google">Google</a>
	</main>
</body>
</html>