<!DOCTYPE html>
<html>
<head>
	<title>Hello Dashboard</title>
	<link rel="stylesheet" type="text/css" href="../styles.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
	<body>
		<h1>My Movies</h1>
		<table>
			<tr class="theaders">
				<th class="col-title">Movie</th>
				<th class="col-title">Release Date</th>
				<th class="col-title">Rating</th>
				<th class="col-title">Order</th>
				<th class="col-title delete-item">Delete</th>	
			</tr>
		</table>
	<script type="text/javascript" src="../js/search.js"></script>
	</body>
</html>