<!DOCTYPE html>
<html>
<head>
	<title>Hello Dashboard</title>
	<link rel="stylesheet" type="text/css" href="../styles.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
	<body>
		<h1>My Movies</h1>
		<table>
				<tr>
					<th >Movie</th>
					<th >Release Date</th>
					<th >Rating</th>
					<th >Order</th>
					<th>Delete</th>	
				</tr>
				<% for (let i = 0; i < movies.length; i++) { %>
					 <tr>  
						<td class="movie-title"> <%= movies[i].title %> </td>
						<td> <%= movies[i].release %> </td>
						<td> <%= movies[i].rating %> </td>
						<td> dummy </td>
						<td> <a class="delete" href="">X</a>  </td>
					 </tr>
				<% } %>
		</table>



		<!-- <%= JSON.stringify(movies[0].title) %> -->
	<script type="text/javascript" src="../js/search.js"></script>
	</body>
</html>