<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<link href="https://fonts.googleapis.com/css?family=Kanit:700i|Titillium+Web:300" rel="stylesheet">
</head>
<body>
	<div class="login-container">
		<nav>	
			<a class="home" href="/"><p>Movie Prioritizer</p></a>
		</nav>
		<div class="form-container">
			<header class="login-head">	
				<h1>Log in to start saving movies</h1>
			</header>
			<main class="forms">	
				<div class="signup-form">
					<h2>Sign Up</h2>
					<% Object.keys(messages).forEach(msg => { %>

						<p class=<%= msg %>><%= messages[msg] %></p>
				<% }) %>
					<form name="signup" method="post" action="/auth/signup">
						<input placeholder="Create Username" type="text" name="username" id="new_user"><br>
						<input placeholder="Create Password" required type="password" name="password" id="new_pw"><br>
						<input class="form-btn" type="submit" value="SIGN UP">
					</form>
				</div>
			</main>			
		</div>
	</div>
</body>
</html>